[Desktop Entry]
Type=Application
Name=DebianDialer
Comment=Czuwa w tle na połączenia telefoniczne
Exec=/usr/lib/debiandialer/DebianDialer --hidden
Icon=call-start
Terminal=false
Categories=Network;Telephony;
